*,
*::after,
*::before {
    box-sizing: border-box
}

html {
    font-size: 62.5%
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-size: 1.6rem;
    font-family: open sans, sans-serif;
    color: #331d35;
    background-color: #e7e7e7
}

a {
    color: #41307c;
    text-decoration: none
}

.cd-nugget-info {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    top: 0;
    left: 0
}

.cd-nugget-info a {
    position: relative;
    font-size: 14px;
    color: #925398;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

.no-touch .cd-nugget-info a:hover {
    opacity: .8
}

.cd-nugget-info span {
    vertical-align: middle;
    display: inline-block
}

.cd-nugget-info span svg {
    display: block
}

.cd-nugget-info .cd-nugget-info-arrow {
    fill: #925398
}

#carbonads-container,
#ui8ads-container {
    position: fixed;
    top: 80px;
    right: 5%;
    width: 180px;
    display: none;
    z-index: 100
}

#carbonads-container .close-carbon-adv,
#carbonads-container .close-ui8-adv,
#ui8ads-container .close-carbon-adv,
#ui8ads-container .close-ui8-adv {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 100%;
    background: rgba(19, 11, 20, .8);
    text-indent: 100%;
    overflow: hidden;
    width: 32px;
    height: 32px
}

#carbonads-container .close-carbon-adv:hover,
#carbonads-container .close-ui8-adv:hover,
#ui8ads-container .close-carbon-adv:hover,
#ui8ads-container .close-ui8-adv:hover {
    background: #130b14
}

#carbonads-container .close-carbon-adv::after,
#carbonads-container .close-carbon-adv::before,
#carbonads-container .close-ui8-adv::after,
#carbonads-container .close-ui8-adv::before,
#ui8ads-container .close-carbon-adv::after,
#ui8ads-container .close-carbon-adv::before,
#ui8ads-container .close-ui8-adv::after,
#ui8ads-container .close-ui8-adv::before {
    content: '';
    background-color: #fff;
    height: 2px;
    width: 14px;
    position: absolute;
    top: 14px;
    left: 9px
}

#carbonads-container .close-carbon-adv::after,
#carbonads-container .close-ui8-adv::after,
#ui8ads-container .close-carbon-adv::after,
#ui8ads-container .close-ui8-adv::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

#carbonads-container .close-carbon-adv::before,
#carbonads-container .close-ui8-adv::before,
#ui8ads-container .close-carbon-adv::before,
#ui8ads-container .close-ui8-adv::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#carbonads-container .carbonad,
#carbonads-container .ui8ad,
#ui8ads-container .carbonad,
#ui8ads-container .ui8ad {
    background: rgba(255, 255, 255, .9);
    border: none;
    width: 100%;
    height: auto;
    padding: 14px;
    text-align: center;
    border-radius: 0 3px 3px 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1)
}

#carbonads-container .carbonad .carbonad-image img,
#carbonads-container .carbonad .ui8ad-image img,
#carbonads-container .ui8ad .carbonad-image img,
#carbonads-container .ui8ad .ui8ad-image img,
#ui8ads-container .carbonad .carbonad-image img,
#ui8ads-container .carbonad .ui8ad-image img,
#ui8ads-container .ui8ad .carbonad-image img,
#ui8ads-container .ui8ad .ui8ad-image img {
    width: 130px
}

#carbonads-container .carbonad .carbonad-image img,
#carbonads-container .ui8ad .carbonad-image img,
#ui8ads-container .carbonad .carbonad-image img,
#ui8ads-container .ui8ad .carbonad-image img {
    margin: 0 0 10px 10px
}

#carbonads-container .carbonad .ui8ad-image img,
#carbonads-container .carbonad .carbon-img img,
#carbonads-container .ui8ad .ui8ad-image img,
#carbonads-container .ui8ad .carbon-img img,
#ui8ads-container .carbonad .ui8ad-image img,
#ui8ads-container .carbonad .carbon-img img,
#ui8ads-container .ui8ad .ui8ad-image img,
#ui8ads-container .ui8ad .carbon-img img {
    margin: 0 10px 10px;
    width: 130px
}

#carbonads-container .carbonad .carbon-text,
#carbonads-container .carbonad .carbonad-tag,
#carbonads-container .carbonad .carbon-poweredby,
#carbonads-container .carbonad .ui8ad-text,
#carbonads-container .carbonad .ui8ad-tag,
#carbonads-container .ui8ad .carbon-text,
#carbonads-container .ui8ad .carbonad-tag,
#carbonads-container .ui8ad .carbon-poweredby,
#carbonads-container .ui8ad .ui8ad-text,
#carbonads-container .ui8ad .ui8ad-tag,
#ui8ads-container .carbonad .carbon-text,
#ui8ads-container .carbonad .carbonad-tag,
#ui8ads-container .carbonad .carbon-poweredby,
#ui8ads-container .carbonad .ui8ad-text,
#ui8ads-container .carbonad .ui8ad-tag,
#ui8ads-container .ui8ad .carbon-text,
#ui8ads-container .ui8ad .carbonad-tag,
#ui8ads-container .ui8ad .carbon-poweredby,
#ui8ads-container .ui8ad .ui8ad-text,
#ui8ads-container .ui8ad .ui8ad-tag {
    font-family: helvetica neue, Arial, sans-serif
}

#carbonads-container .carbonad .carbon-wrap,
#carbonads-container .carbonad .ui8ad-text,
#carbonads-container .ui8ad .carbon-wrap,
#carbonads-container .ui8ad .ui8ad-text,
#ui8ads-container .carbonad .carbon-wrap,
#ui8ads-container .carbonad .ui8ad-text,
#ui8ads-container .ui8ad .carbon-wrap,
#ui8ads-container .ui8ad .ui8ad-text {
    display: block;
    width: 100%;
    padding: 0
}

#carbonads-container .carbonad .carbon-wrap a,
#carbonads-container .carbonad .ui8ad-text a,
#carbonads-container .ui8ad .carbon-wrap a,
#carbonads-container .ui8ad .ui8ad-text a,
#ui8ads-container .carbonad .carbon-wrap a,
#ui8ads-container .carbonad .ui8ad-text a,
#ui8ads-container .ui8ad .carbon-wrap a,
#ui8ads-container .ui8ad .ui8ad-text a {
    color: #41307c;
    font-size: 13px;
    font-weight: 700
}

.no-touch #carbonads-container .carbonad .carbon-wrap a:hover,
.no-touch #carbonads-container .carbonad .ui8ad-text a:hover,
.no-touch #carbonads-container .ui8ad .carbon-wrap a:hover,
.no-touch #carbonads-container .ui8ad .ui8ad-text a:hover,
.no-touch #ui8ads-container .carbonad .carbon-wrap a:hover,
.no-touch #ui8ads-container .carbonad .ui8ad-text a:hover,
.no-touch #ui8ads-container .ui8ad .carbon-wrap a:hover,
.no-touch #ui8ads-container .ui8ad .ui8ad-text a:hover {
    text-decoration: underline
}

#carbonads-container .carbonad .carbonad-tag,
#carbonads-container .carbonad .carbon-poweredby,
#carbonads-container .carbonad .ui8ad-tag,
#carbonads-container .ui8ad .carbonad-tag,
#carbonads-container .ui8ad .carbon-poweredby,
#carbonads-container .ui8ad .ui8ad-tag,
#ui8ads-container .carbonad .carbonad-tag,
#ui8ads-container .carbonad .carbon-poweredby,
#ui8ads-container .carbonad .ui8ad-tag,
#ui8ads-container .ui8ad .carbonad-tag,
#ui8ads-container .ui8ad .carbon-poweredby,
#ui8ads-container .ui8ad .ui8ad-tag {
    margin-top: 5px;
    color: #331d35
}

#carbonads-container .carbonad .carbonad-tag a,
#carbonads-container .carbonad .carbon-poweredby a,
#carbonads-container .carbonad .ui8ad-tag a,
#carbonads-container .ui8ad .carbonad-tag a,
#carbonads-container .ui8ad .carbon-poweredby a,
#carbonads-container .ui8ad .ui8ad-tag a,
#ui8ads-container .carbonad .carbonad-tag a,
#ui8ads-container .carbonad .carbon-poweredby a,
#ui8ads-container .carbonad .ui8ad-tag a,
#ui8ads-container .ui8ad .carbonad-tag a,
#ui8ads-container .ui8ad .carbon-poweredby a,
#ui8ads-container .ui8ad .ui8ad-tag a {
    color: #331d35
}

#carbonads-container .carbonad .carbonad-tag a:hover,
#carbonads-container .carbonad .carbon-poweredby a:hover,
#carbonads-container .carbonad .ui8ad-tag a:hover,
#carbonads-container .ui8ad .carbonad-tag a:hover,
#carbonads-container .ui8ad .carbon-poweredby a:hover,
#carbonads-container .ui8ad .ui8ad-tag a:hover,
#ui8ads-container .carbonad .carbonad-tag a:hover,
#ui8ads-container .carbonad .carbon-poweredby a:hover,
#ui8ads-container .carbonad .ui8ad-tag a:hover,
#ui8ads-container .ui8ad .carbonad-tag a:hover,
#ui8ads-container .ui8ad .carbon-poweredby a:hover,
#ui8ads-container .ui8ad .ui8ad-tag a:hover {
    color: #41307c
}

#carbonads-container .carbonad .ui8ad-tag,
#carbonads-container .carbonad .carbon-poweredby,
#carbonads-container .ui8ad .ui8ad-tag,
#carbonads-container .ui8ad .carbon-poweredby,
#ui8ads-container .carbonad .ui8ad-tag,
#ui8ads-container .carbonad .carbon-poweredby,
#ui8ads-container .ui8ad .ui8ad-tag,
#ui8ads-container .ui8ad .carbon-poweredby {
    display: inline-block;
    font-size: 11px;
    line-height: 15px
}

@media only screen and (min-width:1170px) {

    #carbonads-container,
    #ui8ads-container {
        display: block
    }
}

.cd-header {
    position: relative;
    height: 150px;
    background-color: #331d35
}

.cd-header h1 {
    color: #fff;
    line-height: 150px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300
}

@media only screen and (min-width:1170px) {
    .cd-header {
        height: 200px
    }

    .cd-header h1 {
        line-height: 200px
    }
}

.cd-main-content {
    position: relative;
    min-height: 100vh
}

.cd-main-content::after {
    clear: both;
    content: "";
    display: table
}

.cd-main-content.is-fixed .cd-tab-filter-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.cd-main-content.is-fixed .cd-gallery {
    padding-top: 76px
}

.cd-main-content.is-fixed .cd-filter {
    position: fixed;
    height: 100vh;
    overflow: hidden
}

.cd-main-content.is-fixed .cd-filter form {
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.cd-main-content.is-fixed .cd-filter-trigger {
    position: fixed
}

@media only screen and (min-width:768px) {
    .cd-main-content.is-fixed .cd-gallery {
        padding-top: 90px
    }
}

@media only screen and (min-width:1170px) {
    .cd-main-content.is-fixed .cd-gallery {
        padding-top: 100px
    }
}

.cd-tab-filter-wrapper {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .08);
    z-index: 1
}

.cd-tab-filter-wrapper::after {
    clear: both;
    content: "";
    display: table
}

.cd-tab-filter {
    position: relative;
    height: 50px;
    width: 140px;
    margin: 0 auto;
    z-index: 1
}

.cd-tab-filter::after {
    content: '';
    position: absolute;
    right: 14px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/cd-icon-arrow.svg) no-repeat center center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    pointer-events: none
}

.cd-tab-filter ul {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: inset 0 -2px 0 #41307c
}

.cd-tab-filter li {
    display: none
}

.cd-tab-filter li:first-child {
    display: block
}

.cd-tab-filter a {
    display: block;
    height: 50px;
    width: 140px;
    line-height: 50px;
    padding-left: 14px
}

.cd-tab-filter a.selected {
    background: #41307c;
    color: #fff
}

.cd-tab-filter.is-open::after {
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -moz-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    -o-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg)
}

.cd-tab-filter.is-open ul {
    box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, .2)
}

.cd-tab-filter.is-open ul li {
    display: block
}

.cd-tab-filter.is-open .placeholder a {
    opacity: .4
}

@media only screen and (min-width:768px) {
    .cd-tab-filter {
        width: auto;
        cursor: auto
    }

    .cd-tab-filter::after {
        display: none
    }

    .cd-tab-filter ul {
        background: 0 0;
        position: static;
        box-shadow: none;
        text-align: center
    }

    .cd-tab-filter li {
        display: inline-block
    }

    .cd-tab-filter li.placeholder {
        display: none !important
    }

    .cd-tab-filter a {
        display: inline-block;
        padding: 0 1em;
        width: auto;
        color: #9a9a9a;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem
    }

    .no-touch .cd-tab-filter a:hover {
        color: #41307c
    }

    .cd-tab-filter a.selected {
        background: 0 0;
        color: #41307c;
        box-shadow: inset 0 -2px 0 #41307c
    }

    .cd-tab-filter.is-open ul li {
        display: inline-block
    }
}

@media only screen and (min-width:1170px) {
    .cd-tab-filter {
        width: 100%;
        float: right;
        margin: 0;
        -webkit-transition: width .3s;
        -moz-transition: width .3s;
        transition: width .3s
    }

    .cd-tab-filter.filter-is-visible {
        width: 80%
    }
}

.cd-gallery {
    padding: 26px 5%;
    width: 100%
}

.cd-gallery li {
    margin-bottom: 1.6em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    display: none
}

.cd-gallery li.gap {
    opacity: 0;
    height: 0;
    display: inline-block
}

.cd-gallery img {
    display: block;
    width: 100%
}

.cd-gallery .cd-fail-message {
    display: none;
    text-align: center
}

@media only screen and (min-width:768px) {
    .cd-gallery {
        padding: 40px 3%
    }

    .cd-gallery ul {
        text-align: justify
    }

    .cd-gallery ul::after {
        clear: both;
        content: "";
        display: table
    }

    .cd-gallery li {
        width: 48%;
        margin-bottom: 2em
    }
}

@media only screen and (min-width:1170px) {
    .cd-gallery {
        padding: 50px 2%;
        float: right;
        -webkit-transition: width .3s;
        -moz-transition: width .3s;
        transition: width .3s
    }

    .cd-gallery li {
        width: 23%
    }

    .cd-gallery.filter-is-visible {
        width: 80%
    }
}

.cd-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #fff;
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s, box-shadow .3s;
    -moz-transition: -moz-transform .3s, box-shadow .3s;
    transition: transform .3s, box-shadow .3s
}

.cd-filter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #41307c;
    z-index: 2
}

.cd-filter form {
    padding: 70px 20px
}

.cd-filter .cd-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    background: #37296a;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
    z-index: 3
}

.no-touch .cd-filter .cd-close:hover {
    background: #32255f
}

.cd-filter.filter-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .2)
}

.cd-filter.filter-is-visible .cd-close {
    opacity: 1
}

@media only screen and (min-width:1170px) {
    .cd-filter {
        width: 20%
    }

    .cd-filter form {
        padding: 70px 10%
    }
}

.cd-filter-trigger {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    background: transparent url(../img/cd-icon-filter.svg) no-repeat center center;
    z-index: 3
}

.cd-filter-trigger.filter-is-visible {
    pointer-events: none
}

@media only screen and (min-width:1170px) {
    .cd-filter-trigger {
        width: auto;
        left: 2%;
        text-indent: 0;
        color: #9a9a9a;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        padding-left: 24px;
        background-position: left center;
        -webkit-transition: color .3s;
        -moz-transition: color .3s;
        transition: color .3s
    }

    .no-touch .cd-filter-trigger:hover {
        color: #41307c
    }

    .cd-filter-trigger.filter-is-visible,
    .cd-filter-trigger.filter-is-visible:hover {
        color: #fff
    }
}

.cd-filter-block {
    margin-bottom: 1.6em
}

.cd-filter-block h4 {
    position: relative;
    margin-bottom: .2em;
    padding: 10px 0 10px 20px;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.no-touch .cd-filter-block h4:hover {
    color: #41307c
}

.cd-filter-block h4::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    background: url(../img/cd-icon-arrow.svg) no-repeat center center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s
}

.cd-filter-block h4.closed::before {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg)
}

.cd-filter-block input,
.cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
    font-family: open sans, sans-serif;
    border-radius: 0;
    background-color: #fff;
    border: 2px solid #e6e6e6
}

.cd-filter-block input[type=search],
.cd-filter-block input[type=text],
.cd-filter-block select {
    width: 100%;
    padding: .8em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none
}

.cd-filter-block input[type=search]:focus,
.cd-filter-block input[type=text]:focus,
.cd-filter-block select:focus {
    outline: none;
    background-color: #fff;
    border-color: #41307c
}

.cd-filter-block input[type=search] {
    border-color: transparent;
    background-color: #e6e6e6;
    font-size: 1.6rem !important
}

.cd-filter-block input[type=search]::-webkit-search-cancel-button {
    display: none
}

.cd-filter-block .cd-select {
    position: relative
}

.cd-filter-block .cd-select::after {
    content: '';
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/cd-icon-arrow.svg) no-repeat center center;
    pointer-events: none
}

.cd-filter-block select {
    cursor: pointer;
    font-size: 1.4rem
}

.cd-filter-block select::-ms-expand {
    display: none
}

.cd-filter-block .list li {
    position: relative;
    margin-bottom: .8em
}

.cd-filter-block .list li:last-of-type {
    margin-bottom: 0
}

.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2
}

.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
    padding-left: 24px;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cd-filter-block .checkbox-label::before,
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
    width: 16px;
    height: 16px;
    left: 0
}

.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
    display: none
}

.cd-filter-block .checkbox-label::after {
    width: 16px;
    height: 16px;
    background: url(../img/cd-icon-check.svg) no-repeat center center
}

.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
    border-radius: 50%
}

.cd-filter-block .radio-label::after {
    width: 6px;
    height: 6px;
    background-color: #fff;
    left: 5px
}

.cd-filter-block input[type=radio]:checked+label::before,
.cd-filter-block input[type=checkbox]:checked+label::before {
    border-color: #41307c;
    background-color: #41307c
}

.cd-filter-block input[type=radio]:checked+label::after,
.cd-filter-block input[type=checkbox]:checked+label::after {
    display: block
}

@-moz-document url-prefix() {
    .cd-filter-block .cd-select::after {
        display: none
    }
}

.cd-filter-block li {
    list-style: none;
    padding: 0;
}
li.mix {
    position: relative;
}
/* Define the initial state of the overlay */
li.mix .overlay {
    opacity: 0;
    background: #242321a1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
    align-items: center;
    justify-content: center;
}

/* Apply fade-in animation on hover */
li.mix:hover .overlay {
    opacity: 1;
}

/* Style the buttons */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 3px;
}

.cart-button,
.quick-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.cart-button:hover,
.quick-button:hover {
    color: #f39c12; /* Change color on hover */
}
.buttons button {
    border-radius: 50%;
    border: 1px solid transparent;
    width: 50px;
    height: 50px;
}
.buttons button:hover {
    background-color: black;
}
.product-content {
    position: absolute;
    bottom: 0;
    padding: 10px 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: black;
}
.product-content *{
    color: white;
}
a.product-title {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
}

span.price {
    font-style: italic;
}
a.product-title:hover {color: #f39c12;}

h5#product-title {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.modal-header {
    padding: 1rem 25px;
}
.modal-body {
    padding: 2rem 1rem;
}
.swiper img {
    width: 100%;
}

.swiper_thumbnail .swiper-slide {
    cursor: pointer;
}

.swiper_thumbnail .swiper-slide-thumb-active {
    outline: 2px solid #000;
    outline-offset: -2px;
}

.swiper_thumbnail img {
    vertical-align: bottom;
}
p#product-desc {margin-bottom: 10px;font-style: italic;}

.btn.add-cart {
padding: 1rem 2rem;
font-size: 13px;
font-weight: 800;
background: #6854d1;
font-style: italic;
color: white;
}
.quantity-counter {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .quantity-button {
    background-color: #f0f0f0;
    border: none;
    color: #333;
    font-size: 1.2rem;
    /* padding: 8px 16px; */
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    width: 28px;
    height: 28px;
    font-size: 15px;
    background: #6854d1;
    color: white;
    font-weight: 700;
  }

  .quantity-input {
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    width: 70px;
    border: none;
    font-weight: 600;
    text-align: center;
  }
  * Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;

}
div#productmodal .modal-content {
    border-radius: 0;
}
